* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  background-color: rgb(220, 222, 224);
}
html,
body {
  height: 100%;
}
.menu-container {
  border: 5px solid #ffcc5c;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  height: 10%;
  align-items: flex-end;
}
.login-container {
  border: 5px solid #ffcc5c;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  height: 90%;
  align-items: flex-end;
}
